* {
	padding: 0;
	margin: 0;
	border: 0;
}


.blended_grid {
	display: block;
	width: 900px;
	overflow: auto;
	margin: 30px auto 0 auto;
}



.pageHeader {
	background-color: rgb(255, 255, 255);
	float: left;
	clear: none;
	height: 130px;
	width: 900px;
}

/* Left navigation starts here */
#leftmenu {
	background: #333;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 8em; /* Width of left navigation */
}

#leftmenu li {
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans",
		"Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica,
		sans-serif;
	margin: 0;
	padding: 0;
	list-style: none;
}

#leftmenu a {
	background: #333;
	border-bottom: 1px solid #393939;
	color: #ccc;
	display: block;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
	font-weight: normal;
}

#leftmenu a:hover {
	background: #2580a2 url("../images/hover.gif") left center no-repeat;
	color: #fff;
	padding-bottom: 8px;
}

.pageContent {
	background-color: rgb(255, 255, 255);
	float: left;
	clear: none;
	/*height: 600px;*/
	width: 700px;
	height: 100%;
}

#footer {
	background: #36b0b6;
	width: 883px;
	height: 10px; /* Height of the footer */
	padding: 10px;
	position: relative;
	bottom: 0;
	text-align: center;
	clear: both;
}

#topmenu {
	background: #36b0b6;
	width: auto;
}

#topmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1;
	display: block;
	zoom: 1;
}

#topmenu ul:after {
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}

#topmenu ul li {
	display: inline-block;
	padding: 0;
	margin: 0;
}

#topmenu.align-right ul li {
	float: right;
}

#topmenu.align-center ul {
	text-align: center;
}

#topmenu ul li a {
	color: #ffffff;
	text-decoration: none;
	display: block;
	padding: 15px 25px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	position: relative;
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
	-ms-transition: color .25s;
	-o-transition: color .25s;
	transition: color .25s;
}

#topmenu ul li a:hover {
	color: #333333;
}

#topmenu ul li a:hover:before {
	width: 100%;
}

#topmenu ul li a:after {
	content: "";
	display: block;
	position: absolute;
	right: -3px;
	top: 19px;
	height: 6px;
	width: 6px;
	background: #ffffff;
	opacity: .5;
}

#topmenu ul li a:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 0;
	background: #333333;
	-webkit-transition: width .25s;
	-moz-transition: width .25s;
	-ms-transition: width .25s;
	-o-transition: width .25s;
	transition: width .25s;
}

#topmenu ul li.last>a:after, #topmenu ul li:last-child>a:after {
	display: none;
}

#topmenu ul li.active a {
	color: #333333;
}

#topmenu ul li.active a:before {
	width: 100%;
}

#topmenu.align-right li.last>a:after, #topmenu.align-right li:last-child>a:after
	{
	display: block;
}

#topmenu.align-right li:first-child a:after {
	display: none;
}

@media screen and (max-width: 768px) {
	#topmenu ul li {
		float: none;
		display: block;
	}
	#topmenu ul li a {
		width: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		border-bottom: 1px solid #fb998c;
	}
	#topmenu ul li.last>a, #topmenu ul li:last-child>a {
		border: 0;
	}
	#topmenu ul li a:after {
		display: none;
	}
	#topmenu ul li a:before {
		display: none;
	}
}

input {
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	color: #666666;
	display: inline-block;
	font-size: 1.00em;
	padding: 5px;
	width: 100%;
}

input[type="button"], input[type="reset"], input[type="submit"] {
	height: auto;
	width: auto;
	cursor: pointer;
	box-shadow: 0px 0px 5px #0361A8;
	float: right;
	text-align: right;
	margin-top: 10px;
	margin-left: 7px;
}


.error {
	font-family: verdana, arial;
	color: #D41313;
	font-size: 1.00em;
}


.form-style-2{
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
     background: #98FB98;
}
.form-style-2-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
    background: #FFA500;
    text-align: center;
}
.form-style-2 label{
    display: block;
    margin: 0px 0px 5px 0px;
 
}
.form-style-2 label > span{
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 1px;
    text-align: left;
    color:black;
}
.form-style-2 span.required{
    color:red;
}
.form-style-2 .tel-number-field{
    width: 40px;
    text-align: left;
}
.form-style-2 input.input-field{
    width: 48%;
        color:red;
    
}

.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
    border: 1px solid #0C0;
}
.form-style-2 .textarea-field{
    height:100px;
    width: 55%;
   
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
    background: #EA7B00;
    color: #fff;
}