modules = ["python-3.10:v25-20230920-d4ad2e4"]


# ****   for vensun web project   ****
run = "python vensun.py"

# ****   for default  ****
#run = "python app.py"

# ****   for DB TESTING Flow   ****
#run = "python db_test_index.py"

[env]
VIRTUAL_ENV = "$REPL_HOME/.pythonlibs"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]
