a {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #990000; text-decoration: underline}
.a20 {  line-height: 20px}
.aRedNoDec
{
    COLOR: #990000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    TEXT-DECORATION: none
}
.aRedBig
{
    COLOR: #990000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 13px;
    TEXT-DECORATION: underline
}
.bodyBlackNoDec {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; text-decoration: none}
.bodyBlackNoDecTiny {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; text-decoration: none}
.bodyBlueBoldNoDec {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #0000FF; text-decoration: none}
.bodyBlueBoldNoDecBig {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #0000FF; text-decoration: none}
.bodyBlueNoDec {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #0000FF; text-decoration: none}
.bodyBlueNoDecTiny {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #0000FF; text-decoration: none}
.bodyBold {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold}
.bodyBold2 {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; background-color: #999999; color:#ffffff}
.bodyBoldBig {  font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold}
.bodyBoldBig20 {  font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; line-height: 20px}
.bodyBoldGray {  font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; color: #666666}
.bodyBoldBigGreen {  font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; color: #006400}
.bodyBoldBigRed {  font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; color: #990000}
 .bodyBoldRed {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #990000}
.bodyBoldBlue {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #0000FF}
.bodyBoldGrey {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #666666}
.bodyBoldWhite {  font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; color: #FFFFFF}
.bodyCopy {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 16px; color: #000000}
.bodyCopyBig {  font-family: Arial, Helvetica, sans-serif; font-size: 13px;}
.bodyCopyBig20 {  font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 20px}
.bodyCopyBlue {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #0000FF}
.bodyCopyBlueBig {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #0000FF}
.bodyCopyLightBlue {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #9999CC}
.bodyCopyGray { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #666666}
.bodyCopyBoldGray { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #666666}
.bodyCopyGray20 { font-family: Arial, Helvetica, sans-serif; font-size: 11px ; line-height: 20px ; color: #666666}
.bodyCopyGrey { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #666666}
.bodyCopyRed {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #990000}
.bodyCopyGreen {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #008000}
.bodyCopyRedSmall {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #990000; TEXT-DECORATION: none}
.bodyCopyWhite {  font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #FFFFFF}
.bodyCopyRed20 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #990000 ; line-height: 20px}
.bodyCopy20 { font-family: Arial, Helvetica, sans-serif; font-size: 11px ; line-height: 20px}
.bodyHeader { COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 20px; TEXT-DECORATION: none; FONT-WEIGHT:bold}
.bodyHeader16 { COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 16px; TEXT-DECORATION: none; FONT-WEIGHT:bold}
.bodyHeader16White { COLOR: #FFFFFF; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 16px; TEXT-DECORATION: none; FONT-WEIGHT:bold}
.bodyHeader18 { COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 18px; TEXT-DECORATION: none; FONT-WEIGHT:bold}
.bodyLink { FONT-SIZE: 12px;COLOR: #0052b9;FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;TEXT-DECORATION: underline;}
.bodyLink:visited { FONT-SIZE: 12px;COLOR: #142380;FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;TEXT-DECORATION: underline;}
.bodyLink:hover { FONT-SIZE: 12px;COLOR: #990000;FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;TEXT-DECORATION: underline;}
.bodySubHead { FONT-WEIGHT: bold;FONT-SIZE: 14px;COLOR: #0052b9;FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;TEXT-DECORATION: none;}
.bodyRedNoDec {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #990000; text-decoration: none}
.bodySubHeader { COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 18px; font-weight: bold; TEXT-DECORATION: none}
.bodySubHeaderGray { COLOR: #656565; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 20px; font-weight: bold; TEXT-DECORATION: none}
.ECbodyCopyGrayBig { font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; color: #666660}
.ECbodyCopyGray { font-family: Verdana,Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: #666660}
.ECbodyCopyGrayExe { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: #666660; text-decoration: none}
.ECbodyCopy { font-family: Verdana,Arial, Helvetica, sans-serif; font-size: 9px}
.ECbodyCopyBig { FONT-WEIGHT: bold;FONT-SIZE: 12px;COLOR: #000000;FONT-FAMILY: Arial, Helvetica, sans-serif;TEXT-DECORATION: none ;}
.ECbodyCopyGraySmall { font-family: Verdane,Arial, Helvetica, sans-serif; font-size: 8px; font-weight: bold; color: #666660}
.ECbodyCopySmall { font-family: Verdana,Arial, Helvetica, sans-serif; font-size: 8px; font-weight: bold}
.ECbodyCopyRed { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: #990000; text-decoration: none}
.ECbodyCopyBlue { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: #0000FF; text-decoration: none}
.ECbodyCopyBlueNoBold { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #0000FF; text-decoration: none}
.ECbodyCopyGreen { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: #008000; text-decoration: none}
.ECbodyCopyBlueBig { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #0000FF; text-decoration: none}
.ECbodyHeader { COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 21px; TEXT-DECORATION: none}
.ECbodyHeaderBlueBig { color: #0000FF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 18px; TEXT-DECORATION: none}
.ECbodyHeaderGray { COLOR: #444444; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 21px; TEXT-DECORATION: none}
.ECbodySubHeader { COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 18px; TEXT-DECORATION: none}
.ECglobalLink { FONT-WEIGHT: bold;FONT-SIZE: 12px;COLOR: #0000FF;FONT-FAMILY: Arial, Helvetica, sans-serif;TEXT-DECORATION: none ;}
.ECglobalLink10 { FONT-WEIGHT: bold;FONT-SIZE: 10px;COLOR: #0000FF;FONT-FAMILY: Arial, Helvetica, sans-serif;TEXT-DECORATION: none ;}
.ECbasicLink { FONT-WEIGHT: FONT-SIZE: 11px;COLOR: #0000FF;FONT-FAMILY: Arial, Helvetica, sans-serif;TEXT-DECORATION: none ;}
.exception {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #990000}
.footerBlack { font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; text-decoration: none}
.footerGrey { font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #CCCCCC; text-decoration: none}
.footerWhite { font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #FFFFFF; text-decoration: none}
.GREY {	font-family : Arial, Helvetica, sans-serif; font-size : 11px; color : #666666 }
.GREYSMALL {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #666666;
}
.inputGray30 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; width: 30px; clip: rect( ) ; color: 666666; text-align: center; }
.inputGray40 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; width: 40px; clip: rect( ) ; color: 666666 }
.inputGray60 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; width: 60px; clip: rect( ); color: 666666 }
.inputGray100 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; width: 100px; clip: rect( ); color: 666666 }
.inputGray130 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; width: 130px; clip: rect( ); color: 666666 }
.inputGray160 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; width: 160px; clip: rect( ); color: 666666 }
.inputGray175 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; width: 175px; clip: rect( ); color: 666666 }
.inputGray200 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; width: 200px; clip: rect( ); color: 666666 }
.inputGray250 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; width: 250px; clip: rect( ); color: 666666 }
.inputGray350 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; width: 350px; clip: rect( ); color: 666666 }
.inputGray450 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; width: 450px; clip: rect( ); color: 666666 }
.inputtext { font-family: Arial, Helvetica, sans-serif; font-size: 10px }
.textarea { font-family: Arial, Helvetica, sans-serif; font-size: 10px; clip: rect()}
.input100 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; width: 100px }
.input113 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; width: 113px }
.input130 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; width: 130px}
.input140 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; width: 140px; clip: rect(   )}
.input160 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; width: 160px; clip:  rect(   )}
.input172 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; width: 172px; clip:  rect(   )}
.input80 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; width: 80px; clip:  rect(   )}
.input20 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; width: 20px; clip:  rect(   )}
.input200 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; width: 200px}
.input200_11 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; width: 200px}
.input300_11 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; width: 300px}
.input240 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; width: 240px}
.input262 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; width: 263px; clip:  rect(   )}
.input263 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; width: 263px; clip: rect( ) }
.input300 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; width: 300px; clip: rect( ) }
.input400 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; width: 400px; clip: rect( ) }
.input30 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; width: 30px; clip:  rect(   )}
.input40 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; width: 40px; clip:  rect(   )}
.input60 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; width: 60px; clip:  rect(   )}
.header { font-family : Arial, Helvetica, Times, serif; font-size : 18px; color : #333333 }
.notice {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #0000FF}
.atsnavMain { FONT-WEIGHT: bold;FONT-SIZE: 10px;COLOR: #000000;FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;BACKGROUND-COLOR: #CCCCCC;TEXT-DECORATION: none;}
.navMain { FONT-WEIGHT: bold;FONT-SIZE: 12px;COLOR: #cccccc;FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;BACKGROUND-COLOR: #0052b9;TEXT-DECORATION: none;}
.navMain:hover { FONT-WEIGHT: bold;FONT-SIZE: 12px;COLOR: #ffffff;FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;BACKGROUND-COLOR: #0052b9;TEXT-DECORATION: none;}
.navMainBG { BACKGROUND-COLOR: #0052b9;}
.navMainOn { FONT-WEIGHT: bold;FONT-SIZE: 12px;COLOR: #ffffff;FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;BACKGROUND-COLOR: #142380;TEXT-DECORATION: none;}
.navSubBG { BACKGROUND-COLOR: #142380;}
.navGlobal { FONT-SIZE: 9px;COLOR: #999999;FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;TEXT-DECORATION: none;}
.navGlobal:hover { FONT-SIZE: 9px;COLOR: #142380;FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;TEXT-DECORATION: none;}
.navGlobalOn { FONT-SIZE: 9px;COLOR: #142380;FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;TEXT-DECORATION: none;}
.navSub { FONT-WEIGHT: normal;FONT-SIZE: 12px;COLOR: #cccccc;FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;TEXT-DECORATION: none;}
.navSub:hover { FONT-WEIGHT: normal;FONT-SIZE: 12px;COLOR: #00ccff;FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;TEXT-DECORATION: none;}
.navSubOn { FONT-WEIGHT: normal;FONT-SIZE: 12px;COLOR: #00ccff;FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;TEXT-DECORATION: none;}
.PAGETITLE { font-family : 'Times New Roman', Times, serif; font-size : 19px; color : #333333 }
.SUBHEADER_DARKGREY {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #333333;
	font-weight: bold;
}
.title    {background-color : #000000; COLOR:#FFFFFF;FONT: bold 10px Verdana, Helvetica;}
.noneshadow   		{COLOR:	#000000;FONT: 11px Verdana, Helvetica; border:1px inset black;background-position: left top;BACKGROUND-IMAGE: url('/common/images/background_wite.gif'); BACKGROUND-REPEAT: no-repeat;}
.shadowFocus   {COLOR:	#000000;FONT: 11px Verdana, Helvetica; border:1px inset #3366ff;background-position: left top;BACKGROUND-IMAGE: url('/common/images/background_wite.gif'); BACKGROUND-REPEAT: no-repeat;}
.shadowError   {COLOR:	#000000;FONT: 11px Verdana, Helvetica; border:2px inset #FF0000;background-position: left top;BACKGROUND-IMAGE: url('/common/images/background_wite.gif'); BACKGROUND-REPEAT: no-repeat;}

.bodyBoldRed {COLOR:#ff0000;	FONT: bold 10px Verdana, Helvetica;}
.rpText   {background-color : #ffffff;COLOR:	#000000;FONT: 10px Verdana, Helvetica; border:0px inset black; }
.rpTextFocus   {background-color : #ffffff;COLOR:	#000000; FONT: 10px Verdana, Helvetica; border:1px inset #3366ff;}
.confirm  {COLOR: #0080C0;FONT: bold 12px Verdana, Helvetica;}
A.nav:link, A.nav:active, A.nav:visited  {COLOR: #0152cb;FONT: bold 10px Tahoma,  Arial, Helvetica;  text-decoration: none;}
A.nav:hover {COLOR: #0066CC;FONT: bold 10px Tahoma,  Arial, Helvetica;  text-decoration: none;}
A.red:link, A.red:active, A.red:visited  {COLOR: #a01111;FONT: bold 11px Arial, Helvetica;  text-decoration: none;}
A.red:hover {COLOR: #a01111;FONT: bold 11px  Arial, Helvetica;  text-decoration: none;}
A.subnav:link, A.subnav:active, A.subnav:visited  {COLOR: #0152cb ;FONT: 11px Verdana,  Arial, Helvetica;  text-decoration: none;}
A.subnav:hover {COLOR: #0066CC;FONT: 11px Verdana,  Arial, Helvetica;  text-decoration: underline;}

